body {
  margin: 0;
}

 :root {
  --size: 25vw;
  --button-size: 1.2em;
}

@media (max-width: 800px) {
  :root {
    --size: 50vw;
    --button-size: .9em;
  }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container  button {
  border: 1.5px solid #92acef;
  color: #92acef;
  font-size: var(--button-size);
  background-color: white;
  border-radius: 14px;
  width: auto;
  padding: 8px 24px;
  transition: .5s;
}

.container button:hover {
  color: white;
  background-color: #92acef;
}

.illustration {
  width: var(--size);
  height: auto;
  margin-bottom: 20px;
  margin-top: 10vh;
}