body {
    margin: 0;
  }
  
  .bg {
    top: 0;
    position: absolute;
    z-index: 0;
    width: 4vw;
    height: auto;
  }
  
  #bgtop {
    margin-top: 0;
    margin-left: 30%;
    width: 10vw;
    height: 1.4vw;
  }
  
  #bg1 {
    margin-right: 0;
    margin-top: 300px;
  }
  
  #bg2 {
    margin-top: 160px;
    margin-left: 90%;
  }
  
  /**** Navbar ****/
  nav {
    position: fixed;
    top: 0;
    display: flex;
    height: 100px;
    width: 100%;
    backdrop-filter: blur(150px);
    background-color: white;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom: 0.1px solid #aeaeae;
  }
  
  .navbar-items {
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
  }
  
  #nav-item {
    font-size: 1.2em;
    font-family: Inter, sans-serif;
    font-weight: 520;
    color: #aad2c4;
    text-decoration: none;
    transition: 0.5s;
  }
  
  #nav-item:hover {
    color: #92acef;
  }
  
  #signin {
    color: #aad2c4;
    margin-right: 80px;
    border-radius: 16px;
    border: 2px;
    background: transparent;
    font-size: 1.2em;
    font-family: Inter, sans-serif;
    padding: 8px 24px;
    font-weight: 500;
    width: 10vw;
    border-color: #aad2c4;
    border-style: solid;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #signin:hover {
    background-color: #aad2c4;
    color: white;
  }
  
  #toplogo {
    max-width: 150px;
    max-height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
  }

  /*****Order Section *******/

.order {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 8%;
}

.order-img {
    width: 30%;
    height: auto;
    border: 2px solid #92acef;
    border-radius: 24px;
}

.order-info {
    width: 50%;
    border: 2px solid #92acef;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}