<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/error404.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="visual">
            <div class="error404">404</div>
            <div class="vector">
                <img class="illustration" src="../static/images/illustration.svg" alt="illustration">
            </div>
        </div>
        <div id="message">
            <h1>Hey You!</h1>
            <p>you're not supposed to be here, we </p>
        </div>
    </div>
    
</body>
</html>