<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/order.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img id="bgtop" class="bg" src="../static/images/Group 20.png" alt="" />
        <img id="bg1" class="bg" src="../static/images/Ellipse 11.png" alt="" />
        <img id="bg2" class="bg" src="../static/images/Group 21.png" alt="" />
        <img id="bg3" class="bg" src="../static/images/Ellipse 10.png" alt="" />
        <nav>
          <img id="toplogo" src="../static/images/Logo.png" alt="logo" />
          <div class="navbar-items">
            <a id="nav-item" href="">Orders</a>
            <a id="nav-item" href="">Routes</a>
            <a id="nav-item" href="">My Space</a>
            <button id="signin">Sign in</button>
          </div>
        </nav>
    </header>
    <section class="order">
        <img class="order-img" src="../static/images/city-icon.jpg">
        <div class="order-info">
            <h1>Product</h1>
            <div>
                from &nbsp; Addis Ababa 
                to &nbsp; Adama
            </div>
        </div>
    </section>
</body>
</html>