<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/order.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img id="bgtop" class="bg" src="../static/images/Group 20.png" alt="" />
        <img id="bg1" class="bg" src="../static/images/Ellipse 11.png" alt="" />
        <img id="bg2" class="bg" src="../static/images/Group 21.png" alt="" />
        <img id="bg3" class="bg" src="../static/images/Ellipse 10.png" alt="" />
        <nav>
          <img id="toplogo" src="../static/images/Logo.png" alt="logo" />
          <div class="navbar-items">
            <a id="nav-item" href="">Orders</a>
            <a id="nav-item" href="">Routes</a>
            <a id="nav-item" href="">My Space</a>
            <button id="signin">Sign in</button>
          </div>
        </nav>
    </header>
    <section class="order">
        <div class="info left">
            <div class="order-info">
                <img class="order-img" src="../static/images/city-icon.jpg">
                <h2>Product Name</h2>
                <p class="price">$320.99</p>
            </div>
        </div>
        <div class="info right">
            <h1>Jenny's Order</h1>
            <h3>Description of the product that is ordered</h3>
            <a href="#">Find where to buy</a>
            <div class="route">
                <img class="icons" src="../static/images/location.svg">
                <p>Addis Ababa to Shanghai</p>
            </div>
            <div class="route">
                <img class="icons" src="../static/images/clock.svg">
                <p class="deadline">Before June 21 2024</p>
            </div>
            <div class="route">
                <img class="icons" src="../static/images/gift.svg">
                <p class="reward">$10 in rewards</p>
            </div>
            <button class="order-dispatch">Take Order</button>
        </div>
        <div class="divider"></div>
    </section>

</body>
</html>